

.banner {
	width: 500px;
	display: block;
	margin: 0 auto;

	h1 {
		margin-top: 50px;
		margin-bottom: 30px;
		font-size: 70px;
	}
}

.search {
	margin-bottom: 100px;

	input {
		display: block;
		margin: 0 auto;
		width: 300px;

		a {
			width: 200px;
		}
	}
}

form {
	width: 500px;
	margin: 40px auto;

	input {
		height: 40px;
		font-size: 19px;
	}

	button {
		margin-top: 10px;
		width: 300px;
		height: 40px;
		font-size: 30px;
	}
}

.unis {
	
	padding: 50px 50px;
	background-color: #eee;
	height: 300px;

	// a {
	// 	margin: 20px auto;
	// 	font: #fff;
	// 	font-size: 20px;
	// 	display: block;
	// 	height: 100px;
	// 	width: 100px;
	// 	background-color: #999;

	// 	&:hover {
	// 		background-color: #666;
	// 		text-decoration: none;
	// 	}

	// }
	
}

